
p.herramientas {color: black; 
    font-size:20px;
    font-family:Courier;
    font-weight:bold;
    font-style:italic;
    line-height:30px;
    letter-spacing:5px;
    text-transform:capitalize;
    text-align:left;
    text-indent:30px;
   }

p.ingredientes {color:black; 
    font-size:20px;
    font-family:Courier;
    font-weight:bold;
    font-style:italic;
    line-height:30px;
    letter-spacing:5px;
    text-transform:capitalize;
    text-align:left;
    text-indent:30px;
   }

 
   h1 {color:blue; 
    font-size:40px;
    font-family:Courier;
    font-weight:bold;
    font-style:italic;
    line-height:30px;
    letter-spacing:5px;
    text-transform:capitalize;
    text-align:center;
    text-indent:30px;
   }

   header{
	display: block;
	 }

nav { text-align: center}


 footer {
            font-size:20px;
            text-align: center;
            padding: 3px;
            background-color: rgb(189, 233, 122);
            color: black;
          }
